In [49]:
import pandas as pd
import numpy as np

df=pd.read_csv('VideoGamesSales.csv')

# no of rows df.shape[0]
# columns df.shape[1]

#check for duplicates df=df[df.duplicated()]
# check number of duplicates
df=df.drop_duplicates()
#df.info()
df['Region']=df['Region'].fillna('North')
#df=df[df['Region'].isnull()]
df['NA_Sales']=df['NA_Sales'].replace('[$]', '', regex=True)
df['NA_Sales']=pd.to_numeric(df['NA_Sales'], errors='coerce')

Average_Sales=df['NA_Sales'].mean()
Average_Sales=round(float(Average_Sales),2)
df['NA_Sales']=df['NA_Sales'].fillna(Average_Sales)
df['Country']=df['Country'].replace({'USA' : 'United States'})
df['Country']=df['Country'].str.title()
df=df[df['Country'] == 'United States']
df=df.rename(columns={'NA_Sales' : 'National Sales', 'Global_Sales' : 'Global Sales', 'NA_Profit' : 'National Profit', 'Global_Profit' : 'Global Profit'})
df

,Rank,Name,Platform,Year,Month,Genre,Publisher,Country,City,State,Region,National Sales,Global Sales,National Profit,Global Profit
0,1,Wii Sports,Wii,2010,Jan,Sports,Nintendo,United States,Fairfield,California,West,41.49,82.74,12.447,24.822
1,2,Super Mario Bros.,NES,2010,Feb,Platform,Nintendo,United States,Edmonds,Washington,West,29.08,40.24,8.724,12.072
2,3,Mario Kart Wii,Wii,2010,Mar,Racing,Nintendo,United States,Louisville,Kentucky,South,15.85,35.82,4.755,10.746
3,4,Wii Sports Resort,Wii,2010,Apr,Sports,Nintendo,United States,Round Rock,Texas,Central,15.75,33.00,4.725,9.900
4,5,Pokemon Red/Pokemon Blue,GB,2010,May,Role-Playing,Nintendo,United States,Nashville,Tennessee,South,11.27,31.37,3.381,9.411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,2782,The Lord of the Rings: The Two Towers,GBA,2015,Sep,Action,Electronic Arts,United States,Urbandale,Iowa,Central,0.53,0.74,0.159,0.222
2794,2783,Tiger Woods PGA Tour 2001,PS2,2015,Oct,Sports,Electronic Arts,United States,Henderson,Kentucky,South,0.36,0.74,0.108,0.222
2795,2784,Indiana Jones and the Staff of Kings,Wii,2015,Nov,Action,Activision,United States,Dallas,Texas,Central,0.36,0.74,0.108,0.222
2796,2785,Jet Moto 3,PS,2015,Dec,Racing,Sony Computer Entertainment,United States,San Luis Obispo,California,West,0.41,0.74,0.123,0.222
2797,2786,Naruto Shippuden: Ultimate Ninja Storm Generat...,PS3,2015,Jan,Fighting,Namco Bandai Games,United States,Belleville,New Jersey,East,0.27,0.74,0.081,0.222